<div id="edit-container">

    <p>Edit your profile</p>
    <p id="message">{{message}}</p>
    <form id="edit" method="post">
        {{#profile}}
            <label for="first">First name</label>
            <input type="text" name="first" value="{{first}}">

            <label for="last">Last name</label>
            <input type="text" name="last" value="{{last}}">

            <label for="email">Email address</label>
            <input type="text" name="email" value="{{email}}">

            <label for="password">Password</label>
            <input type="password" name="password">

            <label for="age">Age</label>
            <input type="text" name="age"
                {{#if age}} value="{{age}}" {{/if}}>

            <label for="city">City</label>
            <input id="autocomplete"
                placeholder="Enter your city"
                name="city"
                type="text"
                autocomplete="off";
                {{#if city}} value="{{city}}" {{/if}}>

            <!-- <input type="text" name="city"
                {{#if city}} value="{{city}}" {{/if}}> -->

            <label for="url">Homepage</label>
            <input type="text" name="url"
                {{#if url}} value="{{url}}" {{/if}}>
            <input type="hidden" id="coord-input" name="coord"
                {{#if coord}} value="{{coord}}" {{/if}}>
        {{/profile}}

        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button type="submit" name="submit">Submit</button>

    </form>
    <br>
    <br>

    <p>Delete your account</p>
    <form action="/deleteaccount" method="post">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button type="submit" name="">Delete account</button>
    </form>
</div>

<div id="map-container">
    <div id="map"></div>
</div>


<script
    src="https://maps.googleapis.com/maps/api/js?key={{apiKey}}&libraries=places&callback=initAutocomplete"
    async defer>
</script>
<script src="/map_profile.js"></script>
