<div id="signers">
    <h1>Signers of the petition</h1>
    {{#signers}}
        {{#if url}}
            <p>
                <a href="{{url}}" target="_blank">{{first}} {{last}}</a>
                {{#if age}}, {{age}} {{/if}}
                {{#if city}}, <a href="/signers/{{city}}">{{city}}</a>{{/if}}
            </p>
        {{else}}
            <p>
                {{first}} {{last}}
                {{#if age}}, {{age}} {{/if}}
                {{#if city}}, <a href="/signers/{{city}}">{{city}}</a> {{/if}}
            </p>
        {{/if}}
    {{/signers}}
</div>
<input type="hidden" id="coords" value="{{coords}}">

<div id="map-container">
    <div id="map"></div>
</div>

<script src="/map_signers.js"></script>
<script src="https://unpkg.com/@google/markerclustererplus@4.0.1/dist/markerclustererplus.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{apiKey}}&callback=initMap" async defer></script>
